html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

ul,
ol {
  list-style: none;
}
.customModal{
  .ant-modal-close-x{
    background: #ffffff;
    border-radius: 50%;
    position: relative;
    top: -30px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    right: -44px;
  }
  .ant-modal-body{
    padding: 2px;
  }
}
